/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:
#FFE492; #4F9CF9; #043873

*/

/*google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/*
basic css
*/
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #C4DEFD;
    color: #fff;
    line-height: 1.5;

}
.theme-button{
  background: #4F9CF9;
  border-radius: 8px;
  padding: 16px 24px !important;
  color: #fff;
  text-decoration: none; 
  transition: .03;
  
}
.theme-button:hover{
  color: #fff;
}
.theme-button-two{
  background: #FFE492;
  border-radius: 18px;
  color: #043873 !important;
  padding: 16px 28px !important;
}
.theme-button img{
  margin-left: 10px;
}
/* header css*/
.headerarea {
  background-color: #043873;
  padding: 16px 0;
}
.headerarea .nav-link{
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 18px !important;
}
.headerarea .theme-button-two{
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .theme-button{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  }
  .theme-button-two{
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .headerarea .nav-link{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px !important;
  }
  .headerarea .navbar-toggler {
    border: none;
    box-shadow: none;
  }
  .headerarea .nav-link {
    position: relative;
  }
  .headerarea .nav-link::after  {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}
/*hero area css*/
.heroarea{
  padding: 140px 0;
  background-image: url(hero-bg-img.png);
  background-size: cover;
  background-position: center;
}
.heroarea h3{
  font-weight: 700;
font-size: 45px;

}
@media (max-width: 991px) {
  .heroarea{
    padding: 80px 0;
  }
  .hero-text{
    text-align: center;
  }
  .heroarea h3{
    font-size: 36px;
  }
  .heroarea .hero-text{
  margin-bottom: 50px;
  }
}

/* management area css*/
.management{
  background-color: #fff;
  padding: 70px 0;
}
.management .row{
  padding: 30px 0;
}
.management .project-text{
  color: #212529;
}
.management .project-text h3{
  font-weight: 700;
font-size: 55px;
}
.management .project-text h3 span{
  position: relative;
  z-index: 1;
}
.management .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
.management .work-text{
  color: #212529;
  padding-left: 40px;
}
.management .work-text h3{
  font-weight: 700;
font-size: 45px;
}
.management .work-text h3 span{
  position: relative;
  z-index: 1;
}
.management .work-text h3 span::after{
  position: absolute;
  content: "";
  width: 110%;
  height: 30px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}


@media (max-width: 991px) {
  .management .project-text{
    text-align: center;
    padding-bottom: 30px;
  }
  .management .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .management .work-text{
    text-align: center;
    
  }
  .management .work-text h3{ 
    font-size: 36px;
}
.management .hero-image{
  size: 50%;
  margin-top: 50px;
}
}

/* extention area css*/
.extension{
  background-color: #043873;
  padding: 70px 0;
}
.extension .project-text h3{
  font-weight: 700;
font-size: 45px;
}
.extension .project-text h3 span{
  position: relative;
  z-index: 1;
}
.extension .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .extension .project-text{
    text-align: center;
    padding-bottom: 30px;
  }
  .extension .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .extension .project-text{
    text-align: center;
    
  }
  .extension .project-textt h3{ 
    font-size: 30px;
}
.extension .hero-image{
  size: 50%;
  margin-top: 50px;
}
}

/* customise area css*/
.customise-section{
  background-color: #fff;
  padding: 70px 0;
}
.customise-section .project-text h3{
  color: #212529;
  font-weight: 700;
font-size: 45px;
}
.customise-section .project-text p{
  color: #212529;
}
.customise-section .project-text h3 span{
  position: relative;
  z-index: 1;
}
.customise-section .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .customise-section .project-text{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .customise-section .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .customise-section .project-text{
    text-align: center;
    
  }
  .customise-section .project-textt h3{ 
    font-size: 30px;
}
.customise-section .hero-image{
  size: 50%;
  margin-top: 50px;
}
}