/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:
#FFE492; #4F9CF9; #043873

*/

/*google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/*
basic css
*/
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #C4DEFD;
    color: #fff;
    line-height: 1.5;

}
.theme-button{
  background: #4F9CF9;
  border-radius: 8px;
  padding: 16px 24px !important;
  color: #fff;
  text-decoration: none; 
  transition: .03;
  
}
.theme-button:hover{
  color: #fff;
}
.theme-button-two{
  background: #FFE492;
  border-radius: 8px;
  color: #043873 !important;
  padding: 16px 28px !important;
}

.theme-button-three{
  border: 1px solid #FFE492;
  border-radius: 8px;
  color: #212529;
  padding: 16px 28px !important;
  text-decoration: none;
}
.theme-button img{
  margin-left: 10px;
}
/* header css*/
.headerarea {
  background-color: #043873;
  padding: 16px 0;
}
.headerarea .nav-link{
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 18px !important;
}
.headerarea .theme-button-two{
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .theme-button{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  }
  .theme-button-two{
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .headerarea .nav-link{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px !important;
  }
  .headerarea .navbar-toggler {
    border: none;
    box-shadow: none;
  }
  .headerarea .nav-link {
    position: relative;
  }
  .headerarea .nav-link::after  {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}
/*hero area css*/
.heroarea{
  padding: 140px 0;
  background-image: url(hero-bg-img.png);
  background-size: cover;
  background-position: center;
}
.heroarea h3{
  font-weight: 700;
font-size: 45px;

}
@media (max-width: 991px) {
  .heroarea{
    padding: 80px 0;
  }
  .hero-text{
    text-align: center;
  }
  .heroarea h3{
    font-size: 36px;
  }
  .heroarea .hero-text{
  margin-bottom: 50px;
  }
}

/* management area css*/
.management{
  background-color: #fff;
  padding: 70px 0;
}
.management .row{
  padding: 30px 0;
}
.management .project-text{
  color: #212529;
}
.management .project-text h3{
  font-weight: 700;
font-size: 55px;
}
.management .project-text h3 span{
  position: relative;
  z-index: 1;
}
.management .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
.management .work-text{
  color: #212529;
  padding-left: 40px;
}
.management .work-text h3{
  font-weight: 700;
font-size: 45px;
}
.management .work-text h3 span{
  position: relative;
  z-index: 1;
}
.management .work-text h3 span::after{
  position: absolute;
  content: "";
  width: 110%;
  height: 30px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}


@media (max-width: 991px) {
  .management .project-text{
    text-align: center;
    padding-bottom: 30px;
  }
  .management .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .management .work-text{
    text-align: center;
    
  }
  .management .work-text h3{ 
    font-size: 36px;
}
.management .hero-image{
  size: 50%;
  margin-top: 50px;
}
}

/* extention area css*/
.extension{
  background-color: #043873;
  padding: 70px 0;
}
.extension-section .project-text{
  margin-right: 20px;
}
.extension .project-text h3{
  font-weight: 700;
font-size: 45px;
}
.extension .project-text h3 span{
  position: relative;
  z-index: 1;
}
.extension .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .extension .project-text{
    text-align: center;
    padding-bottom: 30px;
  }
  .extension .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .extension .project-text{
    text-align: center;
    
  }
  .extension .project-textt h3{ 
    font-size: 30px;
}
.extension .hero-image{
  size: 50%;
  margin-top: 50px;
}
}

/* customise area css*/
.customise-section{
  background-color: #fff;
  padding: 70px 0;
}
.customise-section .project-text{
  padding-left: 50px !important;
}
.customise-section .project-text h3{
  color: #212529;
  font-weight: 700;
font-size: 45px;
}
.customise-section .project-text p{
  color: #212529;
}
.customise-section .project-text h3 span{
  position: relative;
  z-index: 1;
}
.customise-section .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .customise-section .project-text{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .customise-section .project-text h3{
    font-size: 36px;
    z-index: -1;
    padding-bottom: 10px;
  }
  .customise-section .project-text{
    text-align: center;
    
  }
  .customise-section .project-textt h3{ 
    font-size: 30px;
}
.customise-section .hero-image{
  size: 50%;
  margin-top: 50px;
}
}


/* pricing area css*/
.pricing-area{
  background-color: #fff;
  padding: 70px 0;
  color: #212529;
}
.pricing-area .project-text h3{
  color: #212529;
  font-weight: 700;
font-size: 45px;
}
.pricing-area .project-text p{
  color: #212529;
  font-size: 18px;
}
.pricing-area .project-text h3 span{
  position: relative;
  z-index: 1;
}
.pricing-area .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
.single-pricing{
  border: 1px solid #FFE492;
border-radius: 10px;
padding: 40px 44px;
}
.single-pricing h4{
  font-size: 24px;
  font-weight: 500;
}
.single-pricing h2{
  font-size: 36px;
  font-weight: 700px;
  padding: 10px;
}
.single-pricing ul{
  margin: 0;
  padding: 0;
  margin: 25px 0;
}
.single-pricing ul li{
  list-style: none;
  margin-bottom: 28px;
  font-size: 16px;
}
.single-pricing ul li:last-child{
  margin: 0;
}
.single-pricing-middle{
  border: 1px solid #FFE492;
border-radius: 10px;
padding: 80px 44px;
background-color: #043873;
color: #fff;

}
.single-pricing-middle h4{
  font-size: 24px;
  font-weight: 500;
}
.single-pricing-middle h2{
  font-size: 36px;
  font-weight: 700px;
  padding: 10px;
  color: #FFE492;
}
.single-pricing-middle ul{
  margin: 0;
  padding: 0;
  margin: 25px 0;
}
.single-pricing-middle ul li{
  list-style: none;
  margin-bottom: 28px;
}
@media (max-width: 991px) {
  .pricing-area .project-text h3{
    font-size: 36px;
  }
  .pricing-area .col-lg-4{
    padding-bottom: 50px;
  }
}

/*your work css*/
.your-work{
  background-color: #043873;
  padding: 80px 0;
}
.your-work .project-text h3{
font-size: 45px;
}
.your-work .project-text h3 span{
  position: relative;
 
  z-index: 1;
}
.your-work .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element-2.png);
  background-repeat: no-repeat;
} 


/*your data section*/
.your-data{
  background-color: #fff;
  padding: 70px 0;
}
.your-data .row{
  padding: 30px 0;
}
.your-data .project-text{
  color: #212529;
}
.your-data .project-text h3{
  font-weight: 700;
font-size: 55px;
}
.your-data .project-text h3 span{
  position: relative;
  z-index: 1;
}
.your-data .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}

@media (max-width: 991px){
  .your-data .data-text{
    text-align: center;
    padding-bottom: 50px;
  }
  .your-data .hero-image{
    padding-top: 50px;
  }
}

/* our sponsors css*/
.our-sponsors{
  background-color: #fff;
  padding: 70px 0;
}
.our-sponsors .project-text h3{
  font-weight: 700;
font-size: 55px;
padding: 30px 0;
color: #212529;
}
.our-sponsors .project-text h3 span{
  position: relative;
  z-index: 1;
}
.our-sponsors .project-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(element.png);
  background-repeat: no-repeat;
}
.our-sponsors .sponsor-img{
  height: 40px;
  width: auto;
}
@media (max-width: 991px){
  .our-sponsors .sponsor-img{
    margin: 50px 0;
  }
}

/*Work with Your section css*/
.work-with{
  padding: 70px 0;
  background-color: #043873;
  background-image: url(hero-bg-img.png);
  background-size: cover;
  background-position: center;
}
.work-with h3{
  font-size: 45px;
}
@media (max-width: 991px){
  .work-with .row .project-text{
    text-align: center;
    padding: 30px 0;
  }
  .work-with .row .project-text .py-4{
    padding: 700px 0;
  }
  }

  /* what our clent's css*/
  .what-our{
    background-color: #fff;
    padding: 70px 0;
    color: #212529;
  }
  .what-our .project-text h3{
    font-weight: 700;
  font-size: 55px;
  padding: 40px 0;
  color: #212529;
  }

  .what-our .project-text h3 span{
    position: relative;
    z-index: 1;
  }
  .what-our .project-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(element.png);
    background-repeat: no-repeat;
  }
.what-our{
  padding: 50px 0;
}
.what-our .single-testimonial{
  background: #FFFFFF;
box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 40px 20px;;
}
.what-our .single-testimonial .textimonial-text p{
  padding: 30px 0;
}
.what-our .single-testimonial .textimonial-quote h5{
  padding: 20px 0;
}

.what-our .single-testimonial2{
 background: #4F9CF9;
 color: #FFFFFF;
border-radius: 10px;
border-radius: 10px;
padding: 40px 20px;;
}
.what-our .single-testimonial2 .textimonial-text p{
  padding: 30px 0;
}
.what-our .single-testimonial2 .textimonial-quote h5{
  padding: 20px 0;
}

.what-our .single-testimonial3{
background: #4F9CF9;
color: #fff;
border-radius: 10px;
border-radius: 10px;
padding: 40px 20px;;
}
.what-our .single-testimonial3 .textimonial-text p{
  padding: 30px 0;
}
.what-our .single-testimonial3 .textimonial-quote h5{
  padding: 20px 0;
}
